<h1>Find out what type if triangle it is!</h1>

<form action="/output" method="post">
  <div class="form-group">
    <label for="side1">The first side of your triangle</label>
    <input id="1" name="side1" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="side2">The second side of your triangle</label>
    <input id="2" name="side2" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="side3">The third side of your triangle</label>
    <input id="3" name="side3" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>
